SOAP/WSDL/CDRTool.wsdl

<?xml version="1.0"	encoding="UTF-8"?>
<!-- WSDL description for the CDRTool SOAP service. 

    Version 4.3.1 

    Copyright 2002-2005 AG Projects
    
-->

<wsdl:definitions
	targetNamespace="http://ag-projects.com/ngnpro"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ngnpro="http://ag-projects.com/ngnpro">

	<wsdl:types>
		<!-- package com.ag-projects.ngnpro -->
		<schema	targetNamespace="http://ag-projects.com/ngnpro" xmlns="http://www.w3.org/2001/XMLSchema">
		
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			
			<!-- Complex data types -->
			
			<complexType name="StringArray">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
					</restriction>
				</complexContent>
			</complexType>
			
			<!-- Auth 
      	- Username and password from CDRTool with soapclient rights
      -->
      
			<complexType name="Auth">
				<sequence>
					<element name="username"    nillable="false" type="xsd:string"/>
					<element name="password"    nillable="false" type="xsd:string"/>
				</sequence>
			</complexType>
			
			<!-- CDRFilter 
        - calls is optional, an integer that specifies the maximum number of CDRs returned
        - beginDate is optional, must be formated as YYYY-MM-DD HH:MM:SS or YYYY-MM-DD
        - endDate is optional, must be formated as YYYY-MM-DD HH:MM:SS or YYYY-MM-DD
        - duration is optional, must be formated as =<> integer (example: >60 or =0)
      -->
      
      <complexType name="CDRFilter">
				<sequence>
          <element name="calls"        nillable="true" type="xsd:int"/>
					<element name="beginDate"    nillable="true" type="xsd:string"/>
					<element name="endDate"      nillable="true" type="xsd:string"/>
          <element name="duration"     nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
      
			<complexType name="CallHistoryFilters">
				<sequence>
          <element name="receivedCallsFilter" nillable="true" type="ngnpro:CDRFilter"/>
          <element name="placedCallsFilter"   nillable="true" type="ngnpro:CDRFilter"/>
				</sequence>
			</complexType>
      
			<complexType name="CallStatistics">
				<sequence>
					<element name="calls"          nillable="false"  type="xsd:int"/>
					<element name="duration"       nillable="false"  type="xsd:int"/>
					<element name="firstCall"      nillable="false"  type="xsd:string"/>
					<element name="lastCall"       nillable="false"  type="xsd:string"/>
					<element name="traffic" 			 nillable="false"  type="xsd:float"/>
          <element name="price" 		     nillable="false"  type="xsd:float"/>
				</sequence>
			</complexType>
			
			<complexType name="CallHistory">
				<sequence>
					<element name="statistics"     nillable="false" type="ngnpro:CallStatistics"/>
          <element name="receivedCalls"  nillable="false" type="ngnpro:receivedCallsArray"/>
          <element name="placedCalls"    nillable="false" type="ngnpro:placedCallsArray"/>
				</sequence>
			</complexType>
			
      <complexType name="receivedCalls">
				<sequence>
					<element name="address"       nillable="false" type="xsd:string"/>
					<element name="duration"      nillable="false" type="xsd:int"/>
					<element name="date"          nillable="false" type="xsd:string"/>
				</sequence>
			</complexType>
			
      <complexType name="placedCalls">
				<sequence>
					<element name="address"       nillable="false" type="xsd:string"/>
					<element name="duration"      nillable="false" type="xsd:int"/>
					<element name="date"          nillable="false" type="xsd:string"/>
          <element name="destinationId" nillable="true"  type="xsd:string"/>
				</sequence>
			</complexType>
			
			<complexType name="receivedCallsArray">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="ngnpro:receiveCalls[]"/>
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="placedCallsArray">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="ngnpro:placedCalls[]"/>
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="SERLocationsArray">
				<sequence>
					<element name="contact"       nillable="false" type="xsd:string"/>
					<element name="expires"       nillable="false" type="xsd:string"/>
					<element name="user_agent"    nillable="true"  type="xsd:string"/>
					<element name="remain"        nillable="false" type="xsd:int"/>
          <element name="whdr"          nillable="true"  type="xsd:string"/>
				</sequence>
			</complexType>
      
			<!-- Exceptions -->
			
			<!-- Embedded in the detail element of the SOAP fault -->
			<!-- 
				Exception names to errorcodes mapping:
					Error                        1   general exception
					
					InvalidTypeError           100   invalid input type
					InvalidValueError          101   invalid input value
					MissingInputError          102   missing input to function call
					
					InternalError              200   server internal error
					DatabaseError              201   database access error
					
					NotImplementedError        900   function/feature is not implemented
					AuthenticationError        901
					AuthorizationError         902

          NGNProErrors    					 XXX                                   

          CDRToolRatingEngineError  4000  cannot connect to rating enigine daemon
                                          scripts/ratingEngine.php    
					
			-->
			
			<!-- SOAP Exception structure. Provided for reference only -->
			<complexType name="SOAPError">
				<sequence>
					<element name="name"        nillable="false" type="xsd:string"/>
					<element name="errorcode"   nillable="false" type="xsd:int"/>
					<element name="errorstring" nillable="false" type="xsd:string"/>
				</sequence>
			</complexType>
			
		</schema>

	</wsdl:types>

	<!-- ======================================================================================== -->
	<!-- ======================================================================================== -->
	<!-- ======================================================================================== -->

	<!-- CDRTool messages -->
  
	<!-- CDRTool.Version() 
  	- Returns the version of the CDRTool installation
  -->
	<wsdl:message name="VersionRequest">
  </wsdl:message>

	<wsdl:message name="VersionResponse">
  		<wsdl:part name="result" type="xsd:string"/>
	</wsdl:message>
	
	<!-- For Prepaid functionality see ratingEngine daemon
       documentation.
  -->
  
	<!-- CDRTool.AddBalance() 
  	- Adds balance to an account in prepaid table
    - Returns 1 for success or a SOAP exception in 
      case of failure
  -->
	
	<wsdl:message name="AddBalanceRequest">
		<wsdl:part name="auth"    type="ngnpro:Auth"/>
		<wsdl:part name="account" type="xsd:string"/>
    <wsdl:part name="balance" type="xsd:float"/>
	</wsdl:message>

	<wsdl:message name="AddBalanceResponse">
  		<wsdl:part name="result" type="xsd:int"/>
	</wsdl:message>

	<!-- CDRTool.AddPrepaidAccount() 
  	- Adds an account to the prepaid table
    - Returns 1 for success or a SOAP exception in 
      case of failure
  -->
	<wsdl:message name="AddPrepaidAccountRequest">
		<wsdl:part name="auth"  type="ngnpro:Auth"/>
		<wsdl:part name="account" type="xsd:string"/>
	</wsdl:message>

	<wsdl:message name="AddPrepaidAccountResponse">
		<wsdl:part name="success" type="xsd:int"/>
	</wsdl:message>

	<!-- CDRTool.DeletePrepaidAccount() 
  	- Removes prepaid account from prepaid table
    - Returns 1 for success or a SOAP exception in 
      case of failure
  -->
	<wsdl:message name="DeletePrepaidAccountRequest">
		<wsdl:part name="auth"  type="ngnpro:Auth"/>
		<wsdl:part name="account" type="xsd:string"/>
	</wsdl:message>
	
  <wsdl:message name="DeletePrepaidAccountResponse">
		<wsdl:part name="success" type="xsd:int"/>
	</wsdl:message>

	<!-- CDRTool.GetPrepaidAccountInfo() 
  	- Returns data from the prepaid table or 
      a SOAP exception in case of failure
  -->
  
	<!-- CDRTool.GetPrepaidAccountInfo() -->
	<wsdl:message name="GetPrepaidAccountInfoRequest">
		<wsdl:part name="auth"  type="ngnpro:Auth"/>
		<wsdl:part name="account" type="xsd:string"/>
	</wsdl:message>

	<wsdl:message name="GetPrepaidAccountInfoResponse">
		<wsdl:part name="balance"        type="xsd:float"/>
    <wsdl:part name="lastCallPrice"  type="xsd:string"/>
    <wsdl:part name="callInProgress" type="xsd:string"/>
    <wsdl:part name="sessionTime"    type="xsd:string"/> 
    <wsdl:part name="maxSessionTime" type="xsd:int"/>
    <wsdl:part name="destination"    type="xsd:string"/>
	</wsdl:message>
  
	<!-- CDRTool.GetCallStatistics() -->
	<wsdl:message name="GetCallStatisticsRequest">
		<wsdl:part name="auth"  type="ngnpro:Auth"/>
		<wsdl:part name="account" type="xsd:string"/>
    <wsdl:part name="afterDate" type="xsd:string"/>
	</wsdl:message>

	<wsdl:message name="GetCallStatisticsResponse">
		<wsdl:part name="CallStatistics" type="ngnpro:CallStatistics"/>
	</wsdl:message>

	<!-- CDRTool.GetCallHistory() 
  	Returns a complex structure which contains last calls and statistics
    - Statistics (total number of calls, traffic, first/last call date)
    - Last Received Calls
    - Last Placed Calls
    You may filter the calls returned by date or duration
    Your may limit the maximum number of calls returned (default = 5)
  -->
  
	<wsdl:message name="GetCallHistoryRequest">
		<wsdl:part name="auth"     type="ngnpro:Auth"/>
		<wsdl:part name="account"  type="xsd:string"/>
    <wsdl:part name="filters"  type="ngnpro:CallHistoryFilters"/>
	</wsdl:message>

	<wsdl:message name="GetCallHistoryResponse">
		<wsdl:part name="CallHistory" type="ngnpro:CallHistory"/>
	</wsdl:message>
  
	<!-- CDRTool.GetLastReceivedCalls() 
  -->
	<wsdl:message name="GetLastReceivedCallsRequest">
		<wsdl:part name="auth"     type="ngnpro:Auth"/>
		<wsdl:part name="account"  type="xsd:string"/>
    <wsdl:part name="filter"   type="ngnpro:CDRFilter"/>
	</wsdl:message>

	<wsdl:message name="GetLastReceivedCallsResponse">
		<wsdl:part name="Calls" type="ngnpro:receivedCallsArray"/>
	</wsdl:message>
  
	<!-- CDRTool.GetLastPlacedCalls() -->
	<wsdl:message name="GetLastPlacedCallsRequest">
		<wsdl:part name="auth"     type="ngnpro:Auth"/>
		<wsdl:part name="account"  type="xsd:string"/>
    <wsdl:part name="filter"   type="ngnpro:CDRFilter"/>
	</wsdl:message>

	<wsdl:message name="GetLastPlacedCallsResponse">
		<wsdl:part name="Calls" type="ngnpro:placedCallsArray"/>
	</wsdl:message>
	
	<!-- CDRTool.GetSERLocations() 
  	- Returns an array with devices registered for a given
      account on the SIP Registrar (from ser.location table)
    - Maximum 16 locations are returned  
  -->
	<wsdl:message name="GetSERLocationsRequest">
		<wsdl:part name="auth"     type="ngnpro:Auth"/>
		<wsdl:part name="account"  type="xsd:string"/>
	</wsdl:message>

	<wsdl:message name="GetSERLocationsResponse">
		<wsdl:part name="Locations" type="ngnpro:SERLocationsArray"/>
	</wsdl:message>

	<!-- ======================================================================================== -->
	<!-- ======================================================================================== -->
	<!-- ======================================================================================== -->
	
	<wsdl:portType name="CDRToolPort">

		<wsdl:operation name="Version" parameterOrder="auth">
			<wsdl:input  message="ngnpro:VersionRequest"  name="VersionRequest"/>
			<wsdl:output message="ngnpro:VersionResponse" name="VersionResponse"/>
		</wsdl:operation>
    
		<wsdl:operation name="AddBalance" parameterOrder="auth account balance">
			<wsdl:input  message="ngnpro:AddBalanceRequest"  name="AddBalanceRequest"/>
			<wsdl:output message="ngnpro:AddBalanceResponse" name="AddBalanceResponse"/>
		</wsdl:operation>
		
    <wsdl:operation name="AddPrepaidAccount" parameterOrder="auth account">
			<wsdl:input  message="ngnpro:AddPrepaidAccountRequest"  name="AddPrepaidAccountRequest"/>
			<wsdl:output message="ngnpro:AddPrepaidAccountResponse" name="AddPrepaidAccountResponse"/>
		</wsdl:operation>    
    
    <wsdl:operation name="DeletePrepaidAccount" parameterOrder="auth account">
			<wsdl:input  message="ngnpro:DeletePrepaidAccountRequest"  name="DeletePrepaidAccountRequest"/>
			<wsdl:output message="ngnpro:DeletePrepaidAccountResponse" name="DeletePrepaidAccountResponse"/>
		</wsdl:operation>    
    
    <wsdl:operation name="GetPrepaidAccountInfo" parameterOrder="auth account">
			<wsdl:input  message="ngnpro:GetPrepaidAccountInfoRequest"  name="GetPrepaidAccountInfoRequest"/>
			<wsdl:output message="ngnpro:GetPrepaidAccountInfoResponse" name="GetPrepaidAccountInfoResponse"/>
		</wsdl:operation>    
    
    <wsdl:operation name="GetCallStatistics" parameterOrder="auth account afterDate">
			<wsdl:input  message="ngnpro:GetCallStatisticsRequest"  name="GetCallStatisticsRequest"/>
			<wsdl:output message="ngnpro:GetCallStatisticsResponse" name="GetCallStatisticsResponse"/>
		</wsdl:operation>        
		
    <wsdl:operation name="GetCallHistory" parameterOrder="auth accounts filters">
			<wsdl:input  message="ngnpro:GetCallHistoryRequest"  name="GetCallHistoryRequest"/>
			<wsdl:output message="ngnpro:GetCallHistoryResponse" name="GetCallHistoryResponse"/>
		</wsdl:operation>        
    
    <wsdl:operation name="GetLastReceivedCalls" parameterOrder="auth accounts filter">
			<wsdl:input  message="ngnpro:GetLastReceivedCallsRequest"  name="GetLastReceivedCallsRequest"/>
			<wsdl:output message="ngnpro:GetLastReceivedCallsResponse" name="GetLastReceivedCallsResponse"/>
		</wsdl:operation>
    
    <wsdl:operation name="GetLastPlacedCalls" parameterOrder="auth account filter">
			<wsdl:input  message="ngnpro:GetLastPlacedCallsRequest"  name="GetLastPlacedCallsRequest"/>
			<wsdl:output message="ngnpro:GetLastPlacedCallsResponse" name="GetLastPlacedCallsResponse"/>
		</wsdl:operation>        
    
    <wsdl:operation name="GetSERLocations" parameterOrder="auth account">
			<wsdl:input  message="ngnpro:GetSERLocationsRequest"  name="GetSERLocationsRequest"/>
			<wsdl:output message="ngnpro:GetSERLocationsResponse" name="GetSERLocationsResponse"/>
		</wsdl:operation>        
    
	</wsdl:portType>
	
	<!-- ======================================================================================== -->
	<!-- ======================================================================================== -->
	<!-- ======================================================================================== -->
	
	<wsdl:binding name="CDRToolBinding" type="ngnpro:CDRToolPort">
	
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="Version">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="VersionRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="VersionResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="AddBalance">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="AddBalanceRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="AddBalanceResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="AddPrepaidAccount">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="AddPrepaidAccountRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="AddPrepaidAccountResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="DeletePrepaidAccount">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="DeletePrepaidAccountInfoRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="DeletePrepaidAccountInfoResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetPrepaidAccountInfo">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="GetPrepaidAccountInfoRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="GetPrepaidAccountInfoResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetCallStatistics">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="GetCallStatisticsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="GetCallStatisticsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetCallHistory">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="GetCallHistoryRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="GetCallHistoryResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetLastReceivedCalls">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="GetLastReceivedCallsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="GetLastReceivedCallsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetLastPlacedCalls">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="GetLastPlacedCallsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="GetLastPlacedCallsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetSERLocations">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="GetSERLocationsRequest">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:input>
			<wsdl:output name="GetSERLocationsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ag-projects.com/ngnpro" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>
	
	<!-- ======================================================================================== -->
	<!-- ======================================================================================== -->
	<!-- ======================================================================================== -->

	<!-- 
  	- S O A P L O C A T I O N  is a keyword replaced by index.phtml 
    with the actual SOAP server location specified in global.inc
  
  -->
	<wsdl:service name="NGNProCDRTool">
		<wsdl:port binding="ngnpro:CDRToolBinding" name="NGNProCDRTool">
			<wsdlsoap:address location="SOAPLOCATION"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
